.search-result-container .container {
    padding: 0px 0;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    font-size: 13px !important;
}
.tdoverall {
    border-top: 0px solid #dee2e6 !important;
}
.mobile-nav-active .dropdown-menu.show {
   background-color: #6c757d !important;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #662e5b !important;
    border-color: #68305a !important;
}
.page-link {
    color: #5c2165 !important;
}
.event-stats table tbody {
    font-size: 12px;
}
.url_inside_orange {
    color: #e9ecef !important;
}
.searchcontent
{
    font-size: 13px !important;
}
.form-control
{

    font-size: 13px !important;
}