body{color: #444;font-family: 'Roboto', sans-serif;}
a{color: #e8721b;transition: 0.5s;}
a:hover,a:active,a:focus{color: #0a98c0;outline: none;text-decoration: none;}
p{padding: 0;margin: 0 0 15px 0;}
h1,h2,h3,h4,h5,h6{font-family: 'Fjalla One', sans-serif;font-weight: 400;margin: 0 0 20px 0;padding: 0;}

.back-to-top{position: fixed;display: none;background: #e8721b;color: #fff;width: 44px;height: 44px;text-align: center;line-height: 1;font-size: 16px;border-radius: 50%;right: 15px;bottom: 15px;transition: background 0.5s;z-index: 11;}
.back-to-top i{padding-top: 12px;color: #fff;}
.back-to-top:hover{background: #5b2064;}

#preloader{position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 9999;overflow: hidden;background: #fff;}
#preloader:before{content: "";position: fixed;top: calc(50% - 30px);left: calc(50% - 30px);border: 6px solid #f2f2f2;border-top: 6px solid #e8721b;border-radius: 50%;width: 60px;height: 60px;-webkit-animation: animate-preloader 1s linear infinite;animation: animate-preloader 1s linear infinite;}
@-webkit-keyframes animate-preloader{0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);} 100%{-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes animate-preloader{0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);} 100%{-webkit-transform: rotate(360deg);transform: rotate(360deg);}}

.carousel-indicators {justify-content: flex-start;}
.carousel-indicators li{background-color: #f00; }

#header{height: 110px;transition: all 0.5s;z-index: 997;transition: all 0.5s;padding: 20px 0;position: fixed;left: 0;top: 0;right: 0;transition: all 0.5s;z-index: 997;}
#header.header-scrolled,#header.header-pages{height: 70px;padding: 15px 0;background-color: #fff;box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);}
#header.header-scrolled #topbar,#header.header-pages #topbar{display: none;}
#header .logo h1{font-size: 36px;margin: 0;padding: 0;line-height: 1;font-weight: 400;letter-spacing: 3px;text-transform: uppercase;}
#header .logo h1 a,#header .logo h1 a:hover{color: #413e66;text-decoration: none;}
#header .logo img{padding: 0;margin-top: -10px;max-height: 65px;}
.main-pages{margin-top: 60px;}

#aboutus{padding: 150px 0; width: 100%;min-height: 100vh; position: relative;}
#aboutus::before{z-index: -1; position: absolute; top:0; left: -50px; min-height:100vh; width: 100vw; content: " "; background: url("../images/slides/bg-about.png") left top no-repeat;background-size: cover;}
#aboutus h2{font-family: 'Fjalla One', sans-serif; font-size: 70px; color: #5b2064; z-index: 1; display: block;}
#aboutus h2 span{display: inline; position: absolute; font-size: 40px; color:#d4d4d4; top:-40px; z-index: -1;}
#aboutus h2 span::after{display: inline; position: absolute; height:5px; width: 20px; background: #e8721b; top:48px; left: 0; content: "";}
#aboutus p{font-size:14px;}
#aboutus a.readmore{font-size: 40px;height:30px; width: 50px; text-decoration: none; color:#000;}
#aboutus a.readmore:hover{color:#e8721b; }
#aboutus a.readmore::after{display: inline; position: absolute; height:10px; width: 10px; background: #801e8f; z-index: -1; bottom:21.5px; left: 25px; content: "";}
#abtCarouselIndicators .carousel-indicators {justify-content: flex-end; bottom: -15px; right:150px;}

#majorsports{padding: 50px 0; width: 100%; position: relative;}
#majorsports::after{position: absolute; top:-2000px; right: 0; height:1151px; width: 578px; content: " "; background: url("../images/slides/major-sports.png") left top no-repeat;background-size: cover; z-index: -1;}
#majorsports h2{font-family: 'Fjalla One', sans-serif; font-size: 70px; color: #5b2064; z-index: 1; display: block;}
#majorsports h2 span{display: inline; position: absolute; font-size: 40px; color:#d4d4d4; top:-38px; z-index: -1;}
#majorsports h2 span::after{display: inline; position: absolute; height:5px; width: 20px; background: #e8721b; top:48px; left: 0; content: "";}
#majorsports div.link-container{position:relative; height:27px; width:100%; margin-bottom: 15px;}
#majorsports div.readmore{display: block; font-family: 'Fjalla One', sans-serif; font-size: 18px;height:30px; width: 100%; text-decoration: none; color:#000;}
#majorsports div.readmore::after{margin-top: -5px; font-size: 30px; float:right; line-height: 30px;content: "\2190";}
#majorsports div.readmore::before{position: absolute; height:8px; width: 8px; background: #801e8f; z-index: 1; content: " "; right:9px; bottom: 9.2px;}
#majorsports div.readmore:hover{color:#e8721b; }
#majorsports p{font-size:14px;}
#majorsports .box{padding: 30px;position: relative;overflow: hidden;border-radius: 10px;margin: 0 10px 40px 10px;background: #fff;box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);transition: all 0.3s ease-in-out;}
#majorsports .box .icon{margin-bottom: 20px;}
#majorsports .box h4.title{margin-bottom: 5px; margin-bottom: 20px; font-family: 'Fjalla One', sans-serif; font-size: 30px; text-transform: uppercase; color: #5b2064;}
#majorsports .box h4.title a{color: #801e8f;}
#majorsports .box h4.title a:hover{color: #000;}
#majorsports .box p.description{font-size: 12px;}
#majorsports .match-logo-container {font-family: 'Fjalla One', sans-serif; font-size: 24px; }
#majorsports .match-logo-container img{width: 60px; padding: 0 10px;}
#majorsports .match-logo-container span{border: 1.5px solid #801e8f; margin: 0 15px;}

#newsandevents{padding: 75px 0; width: 100%;min-height: 100vh; height: auto; position: relative;}
#newsandevents h2{font-family: 'Fjalla One', sans-serif; font-size: 70px; color: #5b2064; z-index: 1; display: block;}
#newsandevents h2 span{display: inline; position: absolute; font-size: 40px; color:#d4d4d4; top:-38px; z-index: -1;}
#newsandevents h2 span::after{display: inline; position: absolute; height:5px; width: 20px; background: #e8721b; top:48px; left: 0; content: "";}
#newsandevents .news-container{border-bottom: 1px solid #ddd; margin-top: 15px;padding-bottom: 15px;}
#newsandevents .news-container:last-child{border-bottom: none;}
#newsandevents .news-container-left{width:calc(100% - 238px); float: left; position: relative; }
#newsandevents .news-container-left .title{color:#000; font-size: 14px; font-weight: bold;}
#newsandevents .news-container-left .desc{color:#828282; font-size: 12px; font-weight: normal;}
#newsandevents .news-container-left a.readmore{font-size: 40px;height:30px; width: 50px; text-decoration: none; color:#000;}
#newsandevents .news-container-left a.readmore:hover{color:#e8721b; }
#newsandevents .news-container-left a.readmore::after{display: inline; position: absolute; height:10px; width: 10px; background: #801e8f; z-index: -1; bottom:21.5px; left: 7px; content: "";}
#newsandevents .news-container-right{width:238px; float: left; position: relative; overflow: hidden;}
#newsandevents .news-container-right img{width:100%; margin: 0;}
#newsandevents .news-container-right .soverlay.blue {position: absolute;top: 0;z-index: 10;width: 70px;height: 200px; background: rgba(70, 124, 255, 0.5); transform: skew(-200.25deg); left: 80px;}
#newsandevents .news-container-right .soverlay.green {position: absolute;top: 0;z-index: 10;width: 70px;height: 200px; background: rgba(70, 255, 149, 0.5); transform: skew(-200.25deg); left: 80px;}
#newsandevents .news-container-right .soverlay.red {position: absolute;top: 0;z-index: 10;width: 70px;height: 200px; background: rgba(255, 70, 70, 0.5); transform: skew(-200.25deg); left: 80px;}
#newsandevents .videos { margin: 15px auto; max-width: 700px;}
#newsandevents .video-wrap {position: absolute; display: table-cell;vertical-align: middle;max-width: 700px;width: calc(100% - 30px); height: calc(100% - 30px); margin-bottom: 10px; background: rgba(0,0,0,0.5);}
#newsandevents .video-wrap .title{ padding: 5px 15px; position: absolute; bottom: 25px; font-weight: bold; font-size: 24px; color: #fff;}
#newsandevents .video-wrap .small-title{padding: 5px 15px; position: absolute; bottom: 0; font-size: 18px; color: #fff;}
#newsandevents .video-wrap .play-btn {position: relative; width: 200px;height: 200px;left: calc(50% - 100px); top:calc(50% - 50px);line-height: 1; text-align: center;color: #fff;border-radius: 50px;transition: all .5s ease;}
#newsandevents .video-wrap .play-btn:hover,.video-wrap .play-btn:focus {color: #f00; cursor: pointer;}
#newsandevents .play-btn::after {display: inline-block;font-style: normal;font-variant: normal;text-rendering: auto;-webkit-font-smoothing: antialiased;font-family: "FontAwesome";font-weight: 900;font-size: 60px;content: "\f16a";padding-top: 20px;padding-left: 10px;}

.main-nav,.main-nav *{margin: 0;padding: 0;list-style: none;}
.main-nav > ul > li{position: relative;white-space: nowrap;float: left;}
.main-nav a{display: block;position: relative;color: #828282;padding: 10px 15px;transition: 0.3s;font-size: 18px;font-family: 'Fjalla One', sans-serif;text-transform: uppercase;}
.main-nav a:hover,.main-nav .active > a,.main-nav li:hover > a{color: #e8721b;text-decoration: none;}
.main-nav .drop-down ul{display: block;position: absolute;left: 0;top: calc(100% - 30px);z-index: 99;opacity: 0;visibility: hidden;padding: 10px 0;background: #fff;box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);transition: ease all 0.3s;}
.main-nav .drop-down:hover > ul{opacity: 1;top: 100%;visibility: visible;}
.main-nav .drop-down li{min-width: 180px;position: relative;}
.main-nav .drop-down ul a{padding: 10px 20px;font-size: 14px;font-weight: 500;text-transform: none;color: #5b2064;}
.main-nav .drop-down ul a:hover,.main-nav .drop-down ul .active > a,.main-nav .drop-down ul li:hover > a{color: #e8721b;}
.main-nav .drop-down > a:after{content: "\f107";font-family: FontAwesome;padding-left: 10px;}
.main-nav .drop-down .drop-down ul{top: 0;left: calc(100% - 30px);}
.main-nav .drop-down .drop-down:hover > ul{opacity: 1;top: 0;left: 100%;}
.main-nav .drop-down .drop-down > a{padding-right: 35px;}
.main-nav .drop-down .drop-down > a:after{content: "\f105";position: absolute;right: 15px;}

.mobile-nav{position: fixed;top: 0;bottom: 0;z-index: 9999;overflow-y: auto;left: -260px;width: 260px;padding-top: 18px;background: rgba(40, 38, 70, 0.8);transition: 0.4s;}
.mobile-nav *{margin: 0;padding: 0;list-style: none;}
.mobile-nav a{display: block;position: relative;color: #fff;padding: 10px 20px;font-weight: 500;}
.mobile-nav a:hover,.mobile-nav .active > a,.mobile-nav li:hover > a{color: #f27122;text-decoration: none;}
.mobile-nav .drop-down > a:after{content: "\f078";font-family: FontAwesome;padding-left: 10px;position: absolute;right: 15px;}
.mobile-nav .active.drop-down > a:after{content: "\f077";}
.mobile-nav .drop-down > a{padding-right: 35px;}
.mobile-nav .drop-down ul{display: none;overflow: hidden;}
.mobile-nav .drop-down li{padding-left: 20px;}
.mobile-nav-toggle{position: fixed;right: 0;top: 0;z-index: 9998;border: 0;background: none;font-size: 24px;transition: all 0.4s;outline: none !important;line-height: 1;cursor: pointer;text-align: right;}
.mobile-nav-toggle i{margin: 18px 18px 0 0;color: #f27122;}
.mobile-nav-overly{width: 100%;height: 100%;z-index: 9997;top: 0;left: 0;position: fixed;background: rgba(40, 38, 70, 0.8);overflow: hidden;display: none;}
.mobile-nav-active{overflow: hidden;}
.mobile-nav-active .mobile-nav{left: 0;}
.mobile-nav-active .mobile-nav-toggle i{color: #fff;}

#gallery{padding: 50px 0; width: 100%;min-height: 100vh; position: relative;}
#gallery::after{position: absolute; top:-200px; right: 0; height:1151px; width: 578px; content: " "; background: url("../images/slides/major-sports.png") left top no-repeat;background-size: cover; z-index: -1;}
#gallery h2{font-family: 'Fjalla One', sans-serif; font-size: 70px; color: #5b2064; z-index: 1; display: block;}
#gallery h2 span{display: inline; position: absolute; font-size: 40px; color:#d4d4d4; top:-38px; z-index: -1;}
#gallery h2 span::after{display: inline; position: absolute; height:5px; width: 20px; background: #e8721b; top:48px; left: 0; content: "";}
#gallery #gallery-flters{padding: 0;margin: 5px 0 35px 0;list-style: none;text-align: center;}
#gallery #gallery-flters li{cursor: pointer;margin: 15px 15px 15px 0;display: inline-block;padding: 6px 10px;font-size: 16px;line-height: 20px;color: #413e66;margin-bottom: 5px;transition: all 0.3s ease-in-out;}
#gallery #gallery-flters li:hover,#gallery #gallery-flters li.filter-active{color: #e8721b;}
#gallery #gallery-flters li:last-child{margin-right: 0;}
#gallery .gallery-item{position: relative;overflow: hidden;margin-bottom: 30px;}
#gallery .gallery-item .gallery-wrap{overflow: hidden;position: relative;margin: 0;}
#gallery .gallery-item .gallery-wrap:hover img{opacity: 0.4;transition: 0.3s;}
#gallery .gallery-item .gallery-wrap .gallery-info{position: absolute;top: 0;right: 0;bottom: 0;left: 0;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;text-align: center;opacity: 0;transition: 0.2s linear;}
#gallery .gallery-item .gallery-wrap .gallery-info h4{font-size: 22px;line-height: 1px;font-weight: 700;margin-bottom: 14px;padding-bottom: 0;}
#gallery .gallery-item .gallery-wrap .gallery-info h4 a{color: #fff;}
#gallery .gallery-item .gallery-wrap .gallery-info h4 a:hover{color: #e8721b;}
#gallery .gallery-item .gallery-wrap .gallery-info p{padding: 0;margin: 0;color: #f8fcff;font-weight: 500;font-size: 14px;text-transform: uppercase;}
#gallery .gallery-item .gallery-wrap .gallery-info .link-preview,#gallery .gallery-item .gallery-wrap .gallery-info .link-details{display: inline-block;line-height: 1;text-align: center;width: 36px;height: 36px;background: #e8721b;border-radius: 50%;margin: 10px 4px 0 4px;}
#gallery .gallery-item .gallery-wrap .gallery-info .link-preview i,#gallery .gallery-item .gallery-wrap .gallery-info .link-details i{padding-top: 6px;font-size: 22px;color: #fff;}
#gallery .gallery-item .gallery-wrap .gallery-info .link-preview:hover,#gallery .gallery-item .gallery-wrap .gallery-info .link-details:hover{background: #856404;}
#gallery .gallery-item .gallery-wrap .gallery-info .link-preview:hover i,#gallery .gallery-item .gallery-wrap .gallery-info .link-details:hover i{color: #fff;}
#gallery .gallery-item .gallery-wrap:hover{background: #282646;}
#gallery .gallery-item .gallery-wrap:hover .gallery-info{opacity: 1;}

#footer{padding: 50px 0 0 0; width: 100%;min-height: 40vh; position: relative;}
#footer h2{font-family: 'Fjalla One', sans-serif; font-size: 70px; color: #5b2064; z-index: 1; display: block;}
#footer h2 span{display: inline; position: absolute; font-size: 40px; color:#d4d4d4; top:-38px; z-index: -1;}
#footer h2 span::after{display: inline; position: absolute; height:5px; width: 20px; background: #e8721b; top:48px; left: 0; content: "";}

#footer .footer-top{padding: 15px 0;}
#footer .footer-top .social-links a{font-size: 28px; display: inline-block; background: #e8721b;color: #fff;line-height: 55px;padding: 8px 0;margin-right: 4px;border-radius: 50%;text-align: center;width: 70px;height: 70px;transition: 0.3s;}
#footer .footer-top .social-links a:hover{background: #801e8f;color: #fff;}
#footer .footer-bot{display: block; background: #801e8f; padding: 30px 0 100px 0; color:#eee;}
#footer .footer-bot a{text-decoration: none; color: #fff;}
#footer .footer-bot a:hover{color: #e8721b;}


.datatable{font-size: 12px;}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*breadcrumb*/
.breadcrumb-container ol.breadcrumb {padding: 0px; background-color: transparent; margin: 15px;}
.breadcrumb-container ol.breadcrumb li a{color: #fff; padding: 5px;}
.breadcrumb-container ol.breadcrumb li a:hover{color:rgba(232,224,27,.8);;}
.breadcrumb-container ol.breadcrumb > .active{color: rgba(232,224,27,.8);}
.breadcrumb-container{margin-top: 80px; background: #65AE45; padding: 15px 0;}
.breadcrumb>li+li:before {padding: 0 5px;color: #ccc;content: "/\00a0";}
/*breadcrumb*/

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*body{font-family:'Roboto', sans-serif;font-size:14px;line-height:21px;color:#444444;font-weight:300;background:#ffff;}*/

/* --------------------------------------Global Typography------------------------------------------*/
h1, h2, h3, h4, h5, h6{margin:0 0 10px;color:#000000;font-family: 'Fjalla One', sans-serif;}
h1{font-size:22px;line-height:1.4em;font-weight:500;color:#fff;margin-bottom:0;}
h2{font-size:20px;line-height:1.5em;font-weight:500;}
h3{font-size:20px;line-height:1.5em;font-weight:500;}
h4{font-size:14px;line-height:1.5em;font-weight:300;}
h5{font-size:14px;line-height:1.5em;font-weight:500;}
h6{font-size:15px;line-height:24px;}

/* --------------------------------------LINK STYLE------------------------------------------*/


/*bootstrap reset*/
.btn-toolbar{margin-bottom: 5px;}
/*bootstrap reset*/

/* -------------------- Section Wrapper -------------------*/
.section_wrapper{padding:30px 0 30px 0;}

/* -------------------- main Wrapper -------------------*/
#main-wrapper{width:100%; min-height: 100vh; overflow:hidden;}

/*----------------------------- * NAVIGATION & HEADER STYLE *-------------------------------*/
/* -------------------- Header Section -------------------*/

/* -------------------- Feature Tab -------------------*/
.sitebar{background:#fff;margin-bottom:30px;}
.tab .nav-tabs li{width:33.33333%;border:0px;border-radius:0px;text-align:center;}
.tab .nav-tabs li a{background:#000;color:#fff;margin-right:0;border:0px;border-radius:0px;text-transform:uppercase;font-family:"Oswald",sans-serif;}
.tab .nav-tabs li.active a{background:#ec1c24;border:0px;color:#fff;}
.tab .tab-content{color:white;padding:15px 0 15px 10px;}
.tab .tab-content .tab-pane{height: 386px; max-height: 400px; overflow-y: auto; padding-right: 10px;}
.tab .media{border-bottom:1px solid #ccc;border-top:0px;margin:0 0;}
.tab .media:last-child{border-bottom:0px solid #ccc;border-top:0px;margin:0 0;}
.rating i{color:#ec1c24;font-size:11px;}
.tab .media h4{font-size:14px;}
.ad{margin:0 auto;text-align:center;margin-bottom:30px;}
.ad img{margin-bottom:3px;display:inline-block;}
.facebook{text-align:center;}
.most_comment{background:#fff;padding:20px 15px;}
.most_comment .media{border:0px;}
.comment_box{margin-top:15px;}
.comment_box .comments_icon{float:left;}
.comment_box .comments_icon i{width:16px;height:16px;line-height:16px;text-align:center;color:#fff;font-size:11px;background:#a5a5a5;vertical-align:middle;}
.comment_box .comments a{color:#b3b3b3;font-size:12px;margin:0 10px;float:left;}
.comment_box .comments a:hover{color:#ec1c24;}
@media (max-width:1024px){.ad img{margin:0 auto 2px;}
                          .media h3.media-heading{font-size:11px !important;}
                          .comment_box .comments a{font-size:10px !important;margin:0 4px !important;}
} 
@media (max-width:768px){
    .tab .tab-content{padding:20px 30px;}
    .most_comment{padding:20px 30px;}
    .media h3.media-heading{font-size:15px !important;}
    .comment_box .comments a{font-size:12px !important;margin:0 10px !important;}
}
/* -------------------- More News Item -------------------*/
.more_news_heading h2{text-transform:uppercase;}
.more_news_item .news_item_title h3{font-size:15px;line-height:20px;margin-bottom:5px;}
/* -------------------- Feature List Item -------------------*/
.media:first-child{padding-top:0px;border-top:0;}
.single_content_layout .media:first-child{padding-top:15px;border-top:1px solid #e5e5e5;}
.single_content_layout .media_wrapper{padding-right:0;}
/*** Media ***/
.media_wrapper{padding-right:30px;}
.media{border-top:1px solid #e5e5e5;padding:10px 0;margin-bottom:15px;}
.media-left, .media > .pull-left{padding-right:15px;}
.media h3.media-heading{font-size:15px; 
                        /*max-height: 80px; overflow: hidden;*/
}
.media_meta{font-size:11px;color:#767676;}
.media_meta a{color:#767676;}
.media_meta a:hover{color:#ec1c24;}
@media (max-width:768px){.media_wrapper{padding-left:30px;}
                         .single_related_news .media_wrapper{padding:0px;}
}
/* -------------------- Email Subscription -------------------*/
.email_subscription{margin:0 auto;text-align:center;}
.email_subscription .thumbnail{background:#e1e1e1;padding:30px;border-radius:0px;box-shadow:0 0px 0px rgba(0, 0, 0, 0.05);margin-bottom:0;}
.email_subscription h2{font-size:18px;display:inline-block;text-transform:uppercase;font-weight:500;margin-bottom:0;}
.email_subscription form{display:inline-block;}
.email_subscription .btn{background:#ec1c24;color:#fff;border-radius:0px;text-transform:uppercase;}
.email_subscription .input-prepend input{border:1px solid #000;margin:10px;width:300px;background:none;height:38px;padding:0 5px;}
.email_subscription .input-prepend,.email_subscription .btn{display:inline-block;}
/* Sticky Menu */
.sticky-nav{position:fixed;right:0;left:0;top:0;z-index:999;background:#a51e11 !important;padding:5px 0;box-shadow:0 0.1em 0.2em rgba(0, 0, 0, 0.05);-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.sticky-nav .nav li a{color:#fff;}
.sticky-nav .navbar-toggle .icon-bar{background:#fff;}
@media (max-width:768px){.sticky-nav{padding-left:10px;padding-right:10px;}
                         .sticky-nav .nav li a{color:#000;}
}
/*------------------- * Section Video Slider *-------------------*/
.feature_video_item .feature_video_wrapper{background:#fff;padding:30px;}
.feature_video_item .video_item_title h3{font-size:15px;}
.owl-stage-outer{border-bottom:1px solid #dcdcdc;}
.owl-nav{display:none;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{background-color:#ec1c24;}
.feature_video_item .owl-carousel .owl-item{text-align:center;}
.feature_video_item .video_info{padding:20px 40px;}
/*------------------- * Category Page *-------------------*/
.category_page .feature_news_item{margin:15px 0;}
.category_page .category_item{margin-top:0;}
.category_item .news_item_title h1{font-size:30px;margin-bottom:10px;}
@media (max-width:768px){.category_item{margin:0 !important;}
                         .category_page .feature_news_item{margin:30px 0;padding-top:0px;}
                         .more_news_item .feature_news_item{padding:30px 0 0;}
}
@media (max-width:767px){.category_item .news_item_title h1{font-size:22px;}
}
@media (max-width:767px){.category_item .news_item_title h1{font-size:18px;}
}

/*------------------- * Single Page *-------------------*/
.single_content_layout{background:#fff;padding:30px;}
.single_content_layout .news_item_title h2{padding:10px 0 0;font-size:26px;}
.single_content_layout .item_wrapper{text-align:left;}
.single_content_layout .news_item_title{padding:10px 0 5px;}
.single_content_layout .item_wrapper .item_content{padding:20px 0;}
.single_related_news{padding:15px 0;}
.single_content_layout .media-heading{margin-bottom:0;}
.single_content_layout .media_content p{margin-bottom:0;}
.readers_comment{padding:20px 0;}
.reply{padding-bottom:0px !important;margin-bottom:0;}
.comment_article_social{padding:10px 0 0;text-align:right;}
.comment_article_social i{width:20px;height:20px;line-height:20px;background:#ebebeb;text-align:center;color:#747474;}
.comment_article_social .reply_ic{background:#ec1c24;padding:2px 5px;vertical-align:top;color:#fff;font-size:12px;}
/***Social Icon***/



.player_profile_section{display: block; min-height: 50vh; background: #fff; }
.player_profile_section .profile-image-sq{width: 85px; height:85px; border:1px solid #ccc; float: left; background: #fff; border-radius: 50%; overflow: hidden; margin-right: 15px;}
.player_profile_section .profile-image-sq img{width: 100%;}
@media (max-width:600px){
    .player_profile_section .profile-image-sq{display: block; width: 50%; margin: 30px 25%; height: auto;}
}
.player_profile_section h2{padding: 0px;font-size:26px;}
.player_profile_section h2 span{padding: 0px;font-size:20px;}
.player_profile_section h2 span.country{padding: 5px 10px 5px 5px;font-size:14px; line-height: 20px; color:#c10000;}
.player_profile_section h2 span.country img{height: 20px; margin-top: -5px; margin-right: 5px;}

/*.player_profile_section img.player-profile-img{width:100%; background: transparent; margin-bottom: 30px;}
@media (min-width:768px){
    .player_profile_section img.player-profile-img{display: none;}
}*/
.player_profile_section h3{padding: 0px;font-size:18px; margin-top: 30px;}
.player_profile_section h3 a{text-decoration: underline;}
.player_profile_section .player-property{display: inline-block; font-weight: 500; font-size: 16px; line-height: 30px;padding: 3px 0px; margin: 0 30px 5px 0; }
.player_profile_section .player-property span{padding: 3px 5px; background: #eee; font-weight: 300;}
.player_profile_section .player-property span a{color:#c10000;}
.player_profile_section .player-property span a:hover{color:#f00;}
span.form-control.select{display: none;}
.control-group {margin: 0 0 20px 0;}
.right-border{ padding-right: 30px; }
.left-border{border-left: 1px solid #ccc; padding-left: 20px; }

/*.item_meta{font-size:12px;color:#666;margin-bottom:3px;}*/


/*team-image*/
#team-images-carousal{margin-bottom: 30px;}
.team-images{background: #ccc; padding: 15px;}
.team-images + .control-wrapper{position:absolute;top:15px;right:15px;width:60px;}

/*team-image*/

.table-holder{display: block; margin-bottom: 15px; background: #fff; padding: 5px; font-size: 14px;}
.table-holder table{margin-bottom: 0;}

.related-articles{height:375px; margin-bottom: 30px}
.category_list{margin-bottom: 30px;}
.category_list a {padding: 5px 10px;background: #ebebeb;color: #747474;margin: 3px 1px;display: inline-block;}
.comment_form{display: block;background: #efefef;padding: 40px 30px;overflow: hidden;}


/*.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}*/

.result{width:300px; border: 1px solid #f00;}


.sj-toolbar{display: block; padding: 10px; background: #ffffff;}
.sj-tools{display: inline-block; padding: 10px; color:#555; background: #f7f7f7; margin: 5px;   -webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;  -o-transition: all 0.3s ease 0s;  transition: all 0.3s ease 0s;}
.sj-tools:hover{background: #ec1c24;}
.sj-tools:hover .sj-txt,
.sj-tools:hover .sj-ico{color: #ffffff;}
.sj-tools .sj-ico{text-align: center;-webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;  -o-transition: all 0.3s ease 0s;  transition: all 0.3s ease 0s;}
.sj-tools .sj-ico i{font-size: 24px; padding: 10px 0;}
.sj-tools .sj-txt{font-weight: 700;-webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;  -o-transition: all 0.3s ease 0s;  transition: all 0.3s ease 0s;}

.footable-filtering-search button.btn-primary{background:#ec1c24; border-color: #c41c21; }
.footable-filtering-search button.btn-primary:hover{background:#961C24;}
.footable-filtering-search .form-control,.footable-filtering-search .dropdown-toggle{border-radius: 0;}


/*######################################################## NEW ############################################################*/


/*utilities*/
.truncate {width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.block-with-text {overflow: hidden;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
/*utilities*/

.img-responsive{width: 100%;}




.inner-top-img{margin-top: 85px;}


.search-box-container{display: block; min-height: 100px; margin-bottom: 30px;}
.search-box{width:90%; display: block; position: relative; background: #fff; min-height:100px; margin: 0 auto; margin-top: -50px;-webkit-box-shadow: 0px 25px 65px -17px rgba(0,0,0,0.42);-moz-box-shadow: 0px 25px 65px -17px rgba(0,0,0,0.42);box-shadow: 0px 25px 65px -17px rgba(0,0,0,0.42);border-radius: 4px; padding: 20px;}

.search-box .has-search .form-control {padding-right: 2.375rem; border-radius:19px; }
.search-box .has-search .form-control-feedback {right: 20px; position: absolute;z-index: 2;display: block;width: 2.375rem;height: 2.375rem;line-height: 2.375rem;text-align: center;pointer-events: none;color: #aaa;}

.search-box .search-text-box:focus{outline: 0; }

.search-box .filter-button{cursor: pointer; width:150px; padding: .375rem .75rem;border: 1px solid #ced4da; padding: 8px 15px; font-size: 14px; color:#999; border-radius: 19px; text-align: right;}
.search-box .filter-button span{float: left;}

.search-result-container {display: block; min-height: 50vh; padding: 50px 0;}
.search-result-container .container {padding: 50px 0;}
.search-result-container .top-bar{
    background: rgb(92,33,101);
    background: -moz-linear-gradient(0deg, rgba(92,33,101,1) 0%, rgba(107,51,88,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(92,33,101,1) 0%, rgba(107,51,88,1) 100%);
    background: linear-gradient(0deg, rgba(92,33,101,1) 0%, rgba(107,51,88,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c2165",endColorstr="#6b3358",GradientType=1);
    width: 100%;
    z-index: -1;
    padding: 100px 0 50px 0;
    margin-top: -130px;
}
@media (max-width:768px){
    .search-result-container .player-complete-details,
    .search-result-container .top-bar {padding: 30px !important;}
    .search-result-container .top-bar .player-details h1{font-size: 30px !important;}
    .search-result-container .top-bar .player-details .details .each-detail{font-size: 14px !important;}
    .search-result-container .top-bar .player-details .details .each-detail:after{display: none !important;}
    .search-result-container .top-bar .player-details .details .each-detail span{ line-height: 30px; display: block !important; margin: 0 !important;}
}


.search-result-container .top-bar .player-image{float: left; margin-right: 30px;}
.search-result-container .top-bar .player-image img{width:180px; height: 180px; border: 3px solid #fff; border-radius: 50%;}
.search-result-container .top-bar .player-details{float: left; padding: 30px 0;}
.search-result-container .top-bar .player-details h1{color:#fff;font-family: 'Fjalla One', sans-serif; font-size: 40px; text-transform: uppercase;}
.search-result-container .top-bar .player-details .details .each-detail{float: left; margin-right: 18px; text-transform: uppercase; font-size: 18px; color: #fff; line-height: 50px;}
.search-result-container .top-bar .player-details .details .each-detail:last-child{margin-right: 0;}
.search-result-container .top-bar .player-details .details .each-detail:after{content: "|"; display: inline-block; color: #e8721b; margin-left: 20px;}
.search-result-container .top-bar .player-details .details .each-detail:last-child:after{display: none;}
.search-result-container .top-bar .player-details .details .each-detail span{margin: 0 8px; font-weight: 700; padding: 10px 20px; border-radius: 25px; background: #e8721b; color: #5c2165;}


.search-result-container .title-bar{display: block; padding: 15px 0;}
.search-result-container .title-bar h2{ float: left; font-family: 'Fjalla One', sans-serif; font-size: 30px; text-transform: uppercase; color: #5b2064;}
.search-result-container .title-bar h2 span{color: #e8721b;}
.search-result-container .title-bar .btn-group{float:right;}
.search-result-container .title-bar a{color: #5b2064;}
.search-result-container .title-bar a:hover, 
.search-result-container .title-bar  a.active{color: #e8721b;}

.search-result-container table thead{background: #ececec;color: #5b2064;border-radius:5px; font-family: 'Fjalla One', sans-serif; }
.search-result-container table thead th{border: none; text-transform: uppercase;}
.search-result-container table.table-borderbottom td{border-bottom: 1px solid #dee2e6;}

.search-result-container .matchbox{position: relative; margin-bottom: 30px; overflow: hidden;border-radius: 10px; background: #fff;box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);transition: all 0.3s ease-in-out;}
.search-result-container .matchbox .teams{background: #fff7f1; padding: 30px;}
.search-result-container .matchbox .teams .team{display: block; text-align: center;}
.search-result-container .matchbox .teams .team .team-logo{width:45px; height:45px; display: inline-block;}
.search-result-container .matchbox .teams .team .team-name{max-width:calc(100% - 55px); padding-left: 15px; display: inline-block; text-transform: uppercase;}
.search-result-container .matchbox .teams .team .team-name h3{line-height: 45px}

.search-result-container .matchbox .match-details{background: #fff; padding: 30px;}
.search-result-container .matchbox .match-details .each-det{display: block; padding-bottom: 30px;}
.search-result-container .matchbox .match-details .left-icon {width:30px; display: inline-block; vertical-align: top;}
.search-result-container .matchbox .match-details .left-icon i {font-size: 22px;}
.search-result-container .matchbox .match-details .right-value{calc(100% - 35px);  display: inline-block;}
.search-result-container .matchbox .match-details .right-value .title{font-size: 14px; color: #e8721b; font-weight: 700;}
.search-result-container .matchbox .match-details .right-value .value{font-family: 'Fjalla One', sans-serif; font-size: 20px; text-transform: uppercase;}

/* ################################## */
/*boxed*/
.search-result-container .teams-container.box .matchbox {display: inline-block; width:calc(50% - 15px); position: relative; margin-bottom: 30px; overflow: hidden;border-radius: 10px; background: #fff;box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);transition: all 0.3s ease-in-out;}
.search-result-container .teams-container.box .matchbox:nth-child(odd){margin-right: 13px;}
.search-result-container .teams-container.box .matchbox:nth-child(even){margin-left: 13px; }

.search-result-container .teams-container.box .matchbox .teams{background: #fff7f1; padding: 30px;}
.search-result-container .teams-container.box .matchbox .teams .team{display: block; text-align: center;}
.search-result-container .teams-container.box .matchbox .teams .team .team-logo{width:45px; height:45px; display: inline-block;}
.search-result-container .teams-container.box .matchbox .teams .team .team-name{max-width:calc(100% - 55px); padding-left: 15px; display: inline-block; text-transform: uppercase;}
.search-result-container .teams-container.box .matchbox .teams .team .team-name h3{line-height: 45px;}

.search-result-container .teams-container.box .matchbox .match-details{background: #fff; padding: 30px;}
.search-result-container .teams-container.box .matchbox .match-details .each-det{display: block; padding-bottom: 30px;}
.search-result-container .teams-container.box .matchbox .match-details .left-icon {width:30px; display: inline-block; vertical-align: top;}
.search-result-container .teams-container.box .matchbox .match-details .left-icon i {font-size: 22px;}
.search-result-container .teams-container.box .matchbox .match-details .right-value{calc(100% - 35px);  display: inline-block;}
.search-result-container .teams-container.box .matchbox .match-details .right-value .title{font-size: 14px; color: #e8721b; font-weight: 700;}
.search-result-container .teams-container.box .matchbox .match-details .right-value .value{font-family: 'Fjalla One', sans-serif; font-size: 20px; text-transform: uppercase;}
/* ################################## */
/*wide*/
.search-result-container .teams-container.wide .matchbox {display: inline-block; width:100%; position: relative; margin-bottom: 30px; overflow: hidden;border-radius: 10px; background: #fff;box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);transition: all 0.3s ease-in-out;}
.search-result-container .teams-container.wide .matchbox .teams{background: #fff; padding: 30px; width: 42.5%; float: left; }
.search-result-container .teams-container.wide .matchbox .teams .team{display: block; text-align: center;}
.search-result-container .teams-container.wide .matchbox .teams .team .badge{font-size: 16px;}
.search-result-container .teams-container.wide .matchbox .teams .team .team-logo{width:45px; height:45px; display: inline-block;}
.search-result-container .teams-container.wide .matchbox .teams .team .team-name{max-width:calc(100% - 55px); padding-left: 15px; display: inline-block; text-transform: uppercase;}
.search-result-container .teams-container.wide .matchbox .teams .team .team-name h3{line-height: 45px}

.search-result-container .teams-container.wide .matchbox .triangular{width:15%; min-height:235px; float: left; background: url(../images/triangled-shape.svg); background-size: cover;}
@media (max-width:1024px){
    .search-result-container .teams-container.wide .matchbox .triangular{display: none;}
    .search-result-container .teams-container.wide .matchbox .teams{width: 50% !important; float: left; }
    .search-result-container .teams-container.wide .matchbox .match-details{width: 50% !important; float: left;}
    .search-result-container .teams-container.box .matchbox .teams .team .team-name h3{line-height: normal;}
    .search-result-container .teams-container.wide .matchbox .teams .team .team-name h3{line-height: normal}
}

.search-result-container .teams-container.wide .matchbox .match-details{overflow: hidden; background: #e8721b; min-height: 235px; padding: 30px; width: 42.5%; float: left;}
.search-result-container .teams-container.wide .matchbox .match-details .each-det{display: block; padding-bottom: 30px;}
.search-result-container .teams-container.wide .matchbox .match-details .left-icon {width:30px; display: inline-block; vertical-align: top;}
.search-result-container .teams-container.wide .matchbox .match-details .left-icon i {font-size: 22px;}
.search-result-container .teams-container.wide .matchbox .match-details .right-value{calc(100% - 35px);  display: inline-block;}
.search-result-container .teams-container.wide .matchbox .match-details .right-value .title{font-size: 14px; color: #f2ff07; font-weight: 700;}
.search-result-container .teams-container.wide .matchbox .match-details .right-value .value{font-family: 'Fjalla One', sans-serif; font-size: 20px; color: #fff; text-transform: uppercase;}
.search-result-container .teams-container.wide .matchbox .match-details .each-det.phase{display: none;}

/* ################################## */

.line-block{width:100%;float:left;height:auto;margin:0 0 15px;}
.line-block span::before {width: 70px;height: 1px;background: #8bc34a;left: -80px;top: 11px;content: '';position: absolute;}
.line-block span::after {width: 70px;height: 1px;background: #8bc34a;right: -80px;top: 11px;content: '';position: absolute;}
.bullet {width: 26px; border: 1px solid #8bc34a; display: inline-block; line-height: 24px; border-radius: 50%; color: #8bc34a; position: relative;}
.bullet i{width: 25px; height: 25px; line-height: 25px;}


.mobile-nav-active .dropdown-menu.show {
   background-color: #6c757d !important;
}